@import 'tailwindcss';


@theme {
    --color-primary : #5C7AFF;
    --color-secondary : #4A8FE7;
    --color-accent: #000000;
    --color-neutral : #FAF9F7;
    --color-sidebar: #070E2D;
    --color-active-link:#0E1C5B;
    --color-primary-font-family: "Inter", sans-serif;
    --color-login-input:rgba(217, 217, 217, 0.6);
    --animate-slide-left: slide-left .7s ease-in-out;
}

*{
    font-family: var(--color-primary-font-family);
}
button {
    cursor: pointer;
}
.links li a {
    position: relative;
}
.links li a.active {
    background-color: var(--color-active-link);
    font-weight: bold;
}
.links li a::after{
    width:0;
    content:"";
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    background-color: white;
    transition: width 100ms ease-in-out;
}
.links li a:hover::after,
.links li a.active::after
{
    width:3px;
}
th{ font-weight: 600; }
table ,
th
{
    background-color: transparent;
}
.ticket-list-table td{
    padding: 10px;
}
.right-modal{
    transform: translateX(0);
}

@keyframes slide-left{
    0% { transform : translateX(110%);}
    100% {
        transform: translateX(0);
    }
}
